<!DOCTYPE html>
<html>
<head>
	<link rel="preconnect" href="https://verity.novoice.eu.org" crossorigin />
	<link rel="dns-prefetch" href="https://verity.novoice.eu.org" />
	<base href="https://verity.novoice.eu.org/">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>The truth about "Ha-yoon"</title>
	<link rel="canonical" href="https://verity.novoice.eu.org">
	<meta name="author" content="NVNora">
	<meta name="description" content="Un petit message pour les personnes qui était proche de moi-même au final.">
	<meta name="robots" content="noindex, nofollow">
	<meta name="googlebot" content="noindex, nofollow">
	<link href="assets/nv/css/verity.css" rel="stylesheet">
	<link href="assets/nv/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container my-5">
		<header>
			<div class="p-5 text-center bg-body-primaire rounded-3">
			    <img class="bi mt-4 mb-3" src="assets/nv/images/vtuber-foxplushy.gif" width="450" height="200" draggable="false" title="vtuber-foxplushy.gif">
			    <div class="clearfix"></div>
			    <div class="d-inline-flex mt-2 mb-2 gap-2">
			    	<h1 class="text-body-emphasis">{{ site.data.ui-text[site.locale].truth_title | default: 'La vérité sur "Ha-yoon"' }}</h1> 
			    	<button type="button" class="btn" onclick="playSound('1')" title="{{ site.data.ui-text[site.locale].listen_sound | default: 'Écouté la section.' }}">
			    		<img src="assets/nv/images/sound.png" width="30" draggable="false" alt="sound.wav">
			    	</button>
			    </div>
			    <p class="col-lg-8 mx-auto fs-5 text-muted">
			      {{ site.data.ui-text[site.locale].truth_text | default: "Je pense que les proches de l'ancienne 'NoVoice' alias 'Ha-yoon' <br> mérite de savoir quelques vérités par apport a cela." }}
			    </p>
			    <div class="d-inline-flex gap-2 mb-5">
			      <a href="https://discords.com/bio/p/qccoes" target="_blank" title="Discord" rel="noopeenr">
			      	<button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
			       		{{ site.data.ui-text[site.locale].truth_button | default: 'Ajouter mon nouveau Discord' }}
			      	</button>
			      </a>
			      <a href="https://www.instagram.com/qccoes" target="_blank" title="Instagram" rel="noopeenr">
				      <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
				        {{ site.data.ui-text[site.locale].truth_button_second | default: 'Instagram' }}
				      </button>
				  </a>
				</div>
			</div>
		</header>
		<main>
			<hr>
			<div class="clearfix"></div>
			<div class="d-inline-flex mt-2 mb-2 gap-2">
				<h1 class="display-3">{{ site.data.ui-text[site.locale].why_title | default: 'Pourquoi ?' }}</h1>
				<button type="button" class="btn" onclick="playSound('2')" title="{{ site.data.ui-text[site.locale].listen_sound | default: 'Écouté la section.' }}">
				    <img src="assets/nv/images/sound.png" width="30" draggable="false" alt="sound.wav">
				</button>
			</div>
			<p class="lead">
				{{ site.data.ui-text[site.locale].why_text | default: "Tout simplement, car malheureusement 'miria-chan' alias 'Ha-yoon' était uniquement en réalité Nora la grande timide et peureuse de donner la moindre information réelle sur elle-même, donc nous pouvons considérer qu'il y a du faux et que 'Ha-yoon' n'exister pas." }}
			</p>
			<p class="display-6">{{ site.data.ui-text[site.locale].disapear_title | default: 'Pourquoi avoir disparu ?' }}</p>
			<p class="lead">
				{{ site.data.ui-text[site.locale].disapear_text | default: "Pour des raisons de vie personnelles en prime d'avoir peur d'avouer et de perdre tous ceux que j'aimais. <br> Bien que du coup, malheureusement, c'est ce qu'il s'est passé au final en faisant ça. (Enfin... En théorie)" }}
			</p>
			<hr>
			<div class="clearfix"></div>
			<div class="d-inline-flex mt-2 mb-2 gap-2">
				<h1 class="display-3">{{ site.data.ui-text[site.locale].proof_title | default: 'As-tu des preuves que tu ne mens pas ?' }}</h1>
				<button type="button" class="btn" onclick="playSound('3')" title="{{ site.data.ui-text[site.locale].listen_sound | default: 'Écouté la section.' }}">
				    <img src="assets/nv/images/sound.png" width="30" draggable="false" alt="sound.wav">
				</button>
			</div>
			<p class="lead">
				{{ site.data.ui-text[site.locale].proof_text | default: "Déjà, je pense que bon... <br> Le fait que je sache énormément de chose voir la totalité sur tout ce qu''elle' a fait, dit, et autres, voilà. <br> Mais si jamais je vais également donner des preuves comme celui-ci en montrant que je peux encore utiliser les comptes qu''elle' avais étant donné que ce sont finalement les miens." }}
			</p>
			<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
		      <div class="col">
		        <div class="card card-cover h-200px overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('assets/nv/images/google.jpg');">
		          <div class="d-flex flex-column h-200px p-5 pb-3 text-white text-shadow-1">
		            <a href="assets/nv/images/google.jpg" class="pt-5 mt-5 mb-1 display-6 lh-1 fw-bold" rel="noopener" title="{{ site.data.ui-text[site.locale].big_view | default: 'Voir en grand' }}" target="_blank" style="text-decoration-line: none;text-decoration: none;color: white;">{{ site.data.ui-text[site.locale].big_view | default: 'Voir en grand' }}</a>
		          </div>
		        </div>
		      </div>
		      <div class="col">
		        <div class="card card-cover h-200px overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('assets/nv/images/discord.jpg');">
		          <div class="d-flex flex-column h-200px p-5 pb-3 text-white text-shadow-1">
		            <a href="assets/nv/images/discord.jpg" class="pt-5 mt-5 mb-1 display-6 lh-1 fw-bold" rel="noopener" title="{{ site.data.ui-text[site.locale].big_view | default: 'Voir en grand' }}" target="_blank" style="text-decoration-line: none;text-decoration: none;color: white;">{{ site.data.ui-text[site.locale].big_view | default: 'Voir en grand' }}</a>
		          </div>
		        </div>
		      </div>
		      <div class="col">
		        <div class="card card-cover h-200px overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('assets/nv/images/pinterest.jpg');">
		          <div class="d-flex flex-column h-200px p-5 pb-3 text-white text-shadow-1">
		            <a href="assets/nv/images/pinterest.jpg" class="pt-5 mt-5 mb-1 display-6 lh-1 fw-bold" rel="noopener" title="{{ site.data.ui-text[site.locale].big_view | default: 'Voir en grand' }}" target="_blank" style="text-decoration-line: none;text-decoration: none;color: white;">{{ site.data.ui-text[site.locale].big_view | default: 'Voir en grand' }}</a>
		          </div>
		        </div>
		      </div>
		      <div class="col">
		        <div class="card card-cover h-200px overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('assets/nv/images/github.jpg');">
		          <div class="d-flex flex-column h-200px p-5 pb-3 text-white text-shadow-1">
		            <a href="assets/nv/images/github.jpg" class="pt-5 mt-5 mb-1 display-6 lh-1 fw-bold" rel="noopener" title="{{ site.data.ui-text[site.locale].big_view | default: 'Voir en grand' }}" target="_blank" style="text-decoration-line: none;text-decoration: none;color: white;">{{ site.data.ui-text[site.locale].big_view | default: 'Voir en grand' }}</a>
		          </div>
		        </div>
		      </div>
		      <div class="col">
		        <div class="card card-cover h-200px overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('assets/nv/images/youtube.jpg');">
		          <div class="d-flex flex-column h-200px p-5 pb-3 text-white text-shadow-1">
		            <a href="assets/nv/images/youtube.jpg" class="pt-5 mt-5 mb-1 display-6 lh-1 fw-bold" rel="noopener" title="{{ site.data.ui-text[site.locale].big_view | default: 'Voir en grand' }}" target="_blank" style="text-decoration-line: none;text-decoration: none;color: white;">{{ site.data.ui-text[site.locale].big_view | default: 'Voir en grand' }}</a>
		          </div>
		        </div>
		      </div>
		    </div>
		    <hr>
		    <div class="clearfix"></div>
			<div class="d-inline-flex mt-2 mb-2 gap-2">
				<h1 class="display-3">{{ site.data.ui-text[site.locale].now_title | default: 'Et maintenant ?' }}</h1>
				<button type="button" class="btn" onclick="playSound('4')" title="{{ site.data.ui-text[site.locale].listen_sound | default: 'Écouté la section.' }}">
				    <img src="assets/nv/images/sound.png" width="30" draggable="false" alt="sound.wav">
				</button>
			</div>
			<p class="lead">
				{{ site.data.ui-text[site.locale].now_text | default: "Et bien... <br> Si vous voulez me détester par apport à ce que j'étais allé y sauf que vous ne savez malheureusement pas réellement ce que j'étais du coup." }}
			</p>
			<p class="lead">
				{{ site.data.ui-text[site.locale].now_text_second | default: "Vu que je me bridais sur certains points et je pense qu'avec le casque VR ça se voie que je suis beaucoup plus énergique ou autres que ce que je montrais sur PC avec Kyoko (Mitty/Sunstar), BBStar(OCB), Mica, Harlequn et autres. <br> Car avant je ne bougeais jamais et ne faisais globalement rien hormis écrire ou mettre de la musique." }}
			</p>
			<p class="lead">
				{{ site.data.ui-text[site.locale].now_text_third | default: "Contrairement à maintenant où je suis absolument dans les discussions et autres de manière actives. <br> Mais au moins, je ne vous mens pas et vous n'avez pas le 'c'est bizarre, elle connaît vachement beaucoup de choses...'" }}
			</p>
			<div class="clearfix"></div>
			<div class="d-inline-flex mt-2 mb-2 gap-2">
				<h2 class="display-6">{{ site.data.ui-text[site.locale].so_title | default: 'Du coup, qu'elles sont les points réels & les points faux ?' }}</h2>
				<button type="button" class="btn" onclick="playSound('5')" title="{{ site.data.ui-text[site.locale].listen_sound | default: 'Écouté la section.' }}">
				    <img src="assets/nv/images/sound.png" width="30" draggable="false" alt="sound.wav">
				</button>
			</div>
			<p class="lead">
				{{ site.data.ui-text[site.locale].so_text | default: "Dans un premier temps, nous allons citer les points qui étaient malencontreusement faux, mais vous verraient qu'hormis des détails de vie privée (et donc où tout le monde a déjà mentis une fois voir continue sur des sites lors de l'inscription) ou qui permettrait de m'identifier physiquement et bien il n'y a pas vraiment grand-chose." }}
			</p>
			<div class="clearfix"></div>
			<div class="d-inline-flex mt-2 mb-2 gap-2">
				<h3 class="display-6">{{ site.data.ui-text[site.locale].false_title | default: 'Les faux ?' }}</h3>
				<button type="button" class="btn" onclick="playSound('6')" title="{{ site.data.ui-text[site.locale].listen_sound | default: 'Écouté la section.' }}">
				    <img src="assets/nv/images/sound.png" width="30" draggable="false" alt="sound.wav">
				</button>
			</div>
			<ul class="lead">
				<li>{{ site.data.ui-text[site.locale].name | default: 'Prénom' }} : <span class="l-th">Ha-yoon</span></li>
				<li>{{ site.data.ui-text[site.locale].lastname | default: 'Nom de famille' }} : <span class="l-th">{{ site.data.ui-text[site.locale].lastname_text | default: '(Je sais plus...)' }}</span></li>
				<li>{{ site.data.ui-text[site.locale].origin | default: 'Origine' }} : <span class="l-th">{{ site.data.ui-text[site.locale].origin_text | default: '<span class="l-th">Mi-africaine / Mi-coréenne</span> <em>(en réalité, une cousine adoptive est comme ça et je la trouve belle donc voilà...)</em>' }}</li>
				<li>{{ site.data.ui-text[site.locale].country | default: 'Pays de vie' }} : <span class="l-th">{{ site.data.ui-text[site.locale].country_text | default: 'France' }}</span></li>
			</ul>
			<div class="d-inline-flex mt-2 mb-2 gap-2">
				<h3 class="display-6">{{ site.data.ui-text[site.locale].true_title | default: 'La vérité ?' }}</h3>
				<button type="button" class="btn" onclick="playSound('7')" title="{{ site.data.ui-text[site.locale].listen_sound | default: 'Écouté la section.' }}">
				    <img src="assets/nv/images/sound.png" width="30" draggable="false" alt="sound.wav">
				</button>
			</div>
			<div class="clearfix"></div>
			<img src="assets/nv/images/messages.png" class="img-fluid" alt="messages.png" width="800" draggable="false">
			<p>
				*<a href="assets/nv/images/woman.jpg" title="{{ site.data.ui-text[site.locale].true_a | default: 'Voir l'exemple des yeux' }}" rel="noopener" target="_blank" style="text-decoration-line: none;text-decoration: none;color: white;">{{ site.data.ui-text[site.locale].true_text | default: "Voir l'exemple des yeux</a> via la photo du screen." }} <br>
				**{{ site.data.ui-text[site.locale].true_text_second | default: "ps: l'exemple est également réel au niveau de la couleur de peau ainsi que des cheveux. (qui sont légèrement moins noiratre)" }}
			</p>
		</main>
	</div>
	<div id="weblisten"></div>
	<footer class="footer mt-auto py-3 bg-body-primaire">
	  <div class="container">
	    <span class="text-body-secondary">2023 &copy; {{ site.data.ui-text[site.locale].copyright | default: "Créer par <a href='https://github.com/nvnora' title='GitHub.com' rel='noopener' target='_blank' style='text-decoration-line: none;text-decoration: none;color: white;'>NVNora</a> avec <3 grâce a Bootstrap. | Le site n'a pas été fait pour être le plus beau du monde, mais juste être lisible est correcte un minima." }}</span>
	  </div>
	</footer>
<script src="assets/nv/js/jquery-3.7.0.min.js"></script>
<script src="assets/nv/js/verity.js"></script>
<script src="assets/nv/js/bootstrap.bundle.min.js"></script>
</body>
</html>
